.tmp.drivedownload
data/raw data/genome-scores.csv
data/raw data/ratings.csv
data/data preparation/dataset frac=0.33, ratio=4, min_samples=100/train_set.csv
data/data preparation/dataset frac=0.33, ratio=4, min_samples=250/train_set.csv
data/data preparation/dataset frac=0.33, ratio=4, min_samples=500/train_set.csv
data/data preparation/MovieLens_data_preparation.py
application data/database.db
config.py
